{% extends "base.html" %}
{% block content %}
<br><br><br>
<div class="row">
    <h1>Cumulative Blame</h1>
    <p>This section shows the cumulative blame for the project directory aggregated by author and by project. Because
    it can take quite a while to build the datasets for these plots, they are calculated in the background. To refresh
    these datastores, click the refresh button below each plot and wait for a while for the results to be visible.</p>
    <div class="row">
        <h3>Authors</h3>
        <a href="{{url_for('blame.cumulative_author_blame')}}"><button onclick="backgroundTaskAlert()">Refresh</button></a>
        <div id="chart_cumulative_author_blame" style="width:100%">
            <svg style="height:500px; width:100%"></svg>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>Projects</h3>
        <a href="{{url_for('blame.cumulative_project_blame')}}"><button onclick="backgroundTaskAlert()">Refresh</button></a>
        <div id="chart_cumulative_project_blame" style="width:100%">
            <svg style="height:500px; width:100%"></svg>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% assets "cumulative_blame_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}