{% extends "base.html" %}
{% block content %}
<br><br><br>
<div class="row">
    <h2>File Detail <small>{{ repo_name }}</small></h2>
    <hr>
    <div class="col-lg-12">
        <h3>Top Committers</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>File</th>
                <th>LOC</th>
                <th>Owner</th>
                <th>Ext.</th>
                <th>Ignore</th>
            </tr>
          </thead>
          <tbody>
            {% for x in file_details %}
            <tr>
                <th>{{ x.file_name }}</th>
                <th>{{ x.loc }}</th>
                <th>{{ x.owner }}</th>
                <th>{{ x.extension }}</th>
                <th><a class="btn btn-md btn-success" href="{{ url_for('admin.ignore_file', file_name=x.clean_file_name) }}" onclick="return confirm('Are you sure?')">Ignore</a></th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% assets "metrics_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}