{% extends 'base.html' %}
{% from 'macros/macros.html' import render_form %}

{% block css %}
<link href="{{ url_for('static', filename='css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<br><br><br>
<div class="row">
    <div class="col-lg-12">
        <h1>Settings</h1>
        <hr>
        <p>Here you can configure which directory your projects live in and what to ignore or include. The first thing
            is
            the project directory, you have a couple of options:
        </p>
        <ul>
            <li>Enter a single absolute path to the directory that contains one or more git repositories</li>
            <li>Entire a comma separate list of explicit paths of git repositories to include</li>
        </ul>
        <p>For the other two, you can either leave them blank for all extensions and no directories ignored,
            respectively,
            or enter a comma separated list of values.</p>
    </div>
</div>
<div class="your-form">
    <form method="POST" action="#" role="form" class="">
        <div class="form-group">
            <label for="project_directory">Project Directory (absolute paths)</label>
            <input name="project_directory" id="project_directory" value="{{project_directory_values}}" />
        </div>
        <div class="form-group  ">
            <label for="extensions">Extensions to Report On</label>
            <input name="extensions" id="extensions" value="{{extensions_values}}" />
        </div>
        <div class="form-group  ">
            <label for="ignore_dir">Directories to Ignore</label>
            <input name="ignore_dir" id="ignore_dir" value="{{ignore_dir_values}}" />
        </div>
        <button type="submit" class="btn btn-default" onclick="return confirm('Profile Updated!')">Update Settings</button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>
<script>
$(function(){
    $('#project_directory').tagsInput({'defaultText':'...', 'removeWithBackspace' : false});
    $('#extensions').tagsInput({'defaultText':'...', 'removeWithBackspace' : false});
    $('#ignore_dir').tagsInput({'defaultText':'...', 'removeWithBackspace' : false});
});
</script>
{% endblock %}