{% extends "base.html" %}
{% block content %}
<br><br><br>
<h1>Metrics</h1>
<div class="row">
    <h2>Leaderboard <small>(past 7 days, by net change)</small></h2>
    <hr>
    <div class="col-lg-4">
        <h3>Top Committers</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>#</th>
                <th>Committer</th>
                <th>Net Change</th>
            </tr>
          </thead>
          <tbody>
            {% for x in leaderboard.top_committers %}
            <tr>
                <th>{{x.rank}}</th>
                <th>{{x.label}}</th>
                <th>{{x.net}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h3>Top Extensions</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>#</th>
                <th>Committer</th>
                <th>Net Change</th>
            </tr>
          </thead>
          <tbody>
            {% for x in leaderboard.top_extensions %}
            <tr>
                <th>{{x.rank}}</th>
                <th>*.{{x.label}}</th>
                <th>{{x.net}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h3>Top Repositories</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>#</th>
                <th>Committer</th>
                <th>Net Change</th>
            </tr>
          </thead>
          <tbody>
            {% for x in leaderboard.top_repositories %}
            <tr>
                <th>{{x.rank}}</th>
                <th>{{x.label}}</th>
                <th>{{x.net}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    </div>


    <div class="row">
       <h2>Punchcard</h2>
        <hr>
        <div class="container">
            <div class="well">
                <div id="graph-wrapper">
                  <div id="graph"></div>
                </div>
            </div>
        </div>

    </div>
    <hr>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/punchcard.js') }}"></script>
{% endblock %}