<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('metrics')}}">
                {{ title }}
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('metrics')}}">Metrics</a></li>
                <li><a href="{{url_for('blame')}}">Blame</a></li>
                <li><a href="{{url_for('risk')}}">Risk</a></li>
                <li><a href="{{url_for('profile')}}">Settings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{url_for('settings')}}">Current Profile: {{profile_name}}</a></li>
            </ul>
        </div>
    </div>
</nav>

